<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Login Admin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/style/login-admin.css">
</head>
<body>
  <div class="login-container">
    <h2>Login Administrador</h2>
    <form id="formLoginAdmin">
      <div class="campo">
	    <label>Email:</label>
	    <input type="email" id="emailLoginAdmin" value="admin@admin.com" disabled>
	    <span class="status" id="statusEmailLoginAdmin"></span>
	  </div>


      <div class="campo">
        <label>Senha:</label>
        <input type="password" id="senhaLoginAdmin" required>
        <span class="status" id="statusSenhaLoginAdmin"></span>
      </div>

      <button type="submit" id="btnEntrarAdmin" disabled>Entrar</button>
    </form>

    <div class="botaovoltar">
	  <button type="button">Voltar</button>
	</div>

  </div>

  <script type="module" src="/script/login-admin.js"></script>
</body>
</html>
